.Articles.container{
padding-left:30;

    h3{
        padding: 10px;
    }

    .image-article-bottom{
        margin-top:10px;
        width:100%;
     }
    .image-article{
       margin-top:60px;
    }

    .article-body{
    text-align: justify;
    }

    .legend{
        color: rgb(92, 89, 89);
        font-style: oblique;
        font-size: 11px;
    }

    .article-border{
        border-left: solid rgb(92, 89, 89) 1px;
    }

    .row-border{
        border-bottom: solid rgb(92, 89, 89) 1px;
    }
}