.Articles.container{
    margin-top:10px;
    padding-left:30;
    font-size: 18px;
    font-family: 'Open Sans Condensed';
    font-size: 20px;

    h3{
        padding: 10px;
        font-family: 'Bebas Neue';
    }

    .article-top{
        border-top: solid rgb(92, 89, 89) 1px;
    }
    .image-article-bottom{
        margin-top:10px;
        width:100%;
     }
    .image-article{
       margin-top:60px;
    }

    .article-body{
    text-align: left;
    }

    .legend{
        color: rgb(92, 89, 89);
        font-style: oblique;
        font-size: 11px;
    }

    .article-border{
        border-left: solid rgb(92, 89, 89) 1px;
    }

    .row-border{
        border-bottom: solid rgb(92, 89, 89) 1px;
    }

    .image-article-bottom {
      height: 60%;
    }

    .art1 {
      width: 300px;
      height: 200px;
    }

    .square{
        margin-top: 30px;
        width: 200px;
        height: 200px; 
    }

    .image-big{
        width: 100%;
    }
}