.CardSensibilisation{

  .card-sensib{
    box-shadow: 3px 6px 8px 2px rgba(0, 0, 0, 0.3);
    border-style:none;
  }

  .card-title{
    opacity: 0;
  }

  .card-text{
    opacity: 0;
  }

  .card-sensib:hover {
      .card-title{
        opacity: 1;
      }
      .card-text{
        opacity: 1;
        transition: all 0.5s ease-in-out;
        text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.3);
        text-align: center;
      }
      .card-image{
        filter: opacity(13%);
        -webkit-filter: opacity(13%);
      }
      background: #005995;
      opacity: 0.95
    }
}

