.MeteoWidget {
  $widget-width: 280px;
  $widget-height: 150px;

  .widget {
    width: $widget-width;
    height: $widget-height;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$widget-height/2;
    margin-left: -$widget-width/2;
  }

  .widget__left-col {
    background: black;
    color: white;
    width: 160px;
    height: $widget-height;
    text-align: center;
    box-sizing: border-box;
    float: left;
  }

  .widget__temperature {
    font-size: 64px;
    font-weight: 100;
  
    &:after {
      content: '°';
      position: absolute;
    }
  }

  .widget__city {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .widget__right-col {
    background: #fff;  
    width: 120px;
    height: $widget-height;
    float: left;
  }

  .widget__weather-icon {  
    font-size: 60px;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
    padding: 23px 0 0;
    height: 105px;
    background-color: rgb(255, 238, 1);
  }

  .widget__attrs {
    background: rgb(68, 0, 255);
    height: 45px;
    color: white;
    font-size: 14px;
  }

  .widget__attr {
    width: 60px;
    box-sizing: border-box;
    padding: 10px 0 0 30px;
    position: relative;
    float: left;
    text-transform: uppercase;  
    font-size: 12px;  
  }

  .widget__attr-icon {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .widget__attr-value {
    font-weight: bold;
    font-size: 14px;
  }

  .widget__attr-unit {
    font-weight: bold;
    font-size: 11px;
  }
}

