.Sensibilisation {
  background-image: url("/medias/white_wall_hash.png");
  position: relative;
  .title-h1{
    margin-bottom: 1%;
    padding-bottom:2%;
    margin-top: 50px;
    text-align: center;
    font-family: 'Nunito';
    color:rgb(40, 40, 40);
  }

  .joel {
    position: absolute;
    left:60%;
    bottom: 3%;
  }

  .joel-left {
    position: absolute;
    left: 38%;
    bottom: 3%;

  }
  .text-left {
    position: absolute;
    bottom: 2.6%;
    left: 28%;
  }

  .text-right {
    position: absolute;
    bottom: 2.6%;
    left: 66%;
  }

  .maison-joel {
    background-color: antiquewhite;
  }

  .header {
    text-align: center;
    margin-top: 1%;
    background-image: url("/medias/theshiftproject.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 160px;
    background-size: cover;
    background-position-x: 5px;
  }

  .title-h2 {
    text-align: center;
    color: whitesmoke;
    background-color: #005995;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:1%;
    font-family: 'Bebas Neue';
  }
  


@import url('https://fonts.googleapis.com/css?family=Merriweather');

.margin {
  margin-bottom: 3%;
}

.line-1 {
  position: relative;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, .75);
  font-size: 150%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: 'Merriweather', serif;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

.btn {
  display: inline-block;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}

.btnarrowright {
  position: relative;

  .joel {
    position: absolute;
    left: 80%;
  }
}

.anim2-typewriter2 {
  animation: typewriter 4s steps(44) 2.9s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter2 {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}

.anim3-typewriter3 {
  animation: typewriter 4s steps(44) 5s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter3 {
  from {
    width: 0;
  }
  to {
    width: 40em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }
  to {
    border-right-color: transparent;
  }
}

.textsize{
  font-size: 100%;
}
}