.navbar.container-fluid{
    padding: 0;
    margin-bottom: -10px;
}

.red{
    background-color: red;
    color: white;
    font-size: 2%;
    font-weight: bolder;
    width: 100%;
    justify-content: center;
}