.Navbar {
  .container-fluid{
    padding: 0;
    margin-bottom: -10px;
  }

  .nyt-navbar {
    background-image: url("/images/navbar.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 13em;
  }

  .red {
    background-color: red;
    color: white;
    font-size: 2%;
    font-weight: bolder;
    justify-content: center;
  }

}

.text {
  font-size: 20px;
  text-align: center;
}

.modal-title {
  font-size: 30px;
  text-align: center;
}